
/* font-inter  */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* font-notoo-serif  */

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


/* shared style  */
.display-flex{
    display: flex;
}

.default-width{
    width: 1140px;
}
.dark-01{
    color: black;
}
.dark-02{
    color:  #8987A1;
}

.dark-lite{
    color: rgba(0, 0, 0, 0.5);
}

.margin{
    margin-top: 30px;
    margin-left: 150px;
    margin-right: 150px;
}



/* header section */
/* navbar styles  */

.navbar{
   justify-content: space-between; 
   width: 1140px;
   margin: 30px auto;
}

.nav-element{
    align-items: center;
}

.nav-items{
    gap: 40px;
    list-style: none;

}

.item a{
    text-decoration: none;

}

.item a:hover{
    background-color: #89ad1b;
    cursor:pointer;
    font-weight: bolder;
    color: white;
    padding: 10px;
    border-radius: 8px;
}

/* main section  */
/* section -- flower  */

.flower{
    border: 1px solid white;
    justify-content: center;
    align-items: center;
    
}
.flower-content{
    /* padding-top: 200px; */
    width: 570px;
    height: 300px;
}

.flower-content h1{
    font-size: 4rem;
    margin-top: 40px;
    margin-bottom: 10px;
}

.flower-content-part{
    color: #E95A08;
}

.flower-para{
    font-size: 1.3rem;
}

.flower-img{
    width: 570px;
    height: 350px;
}


/* plant section  */

.plants{
    margin-top: 100px;
}

.plants span{
    color: #E95A08;
}

.plant-text{
    /* border: 1px solid white; */
    text-align: center;
    margin: 100px auto
    width: 1140px;
    height: 140px;
}

.plant-text h1{
    font-size: 3.1rem;
}

.plant-text p{
    font-size: 1.2rem;
    width: 890px;
    height: 54px;
    margin: 0 auto;
}

.plants-grid{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    margin: 50px auto 10px auto;
    text-align: center;
    width: 1140px;
    
}

.plants-grid img{
    border-radius: 5px;
}

.flower-name{

    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 3px;
   

}
.flower-price{
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 0px;
}

.btn{
    background-color: #E95A08;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    padding: 19px 80px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

.btn:hover{
    background-color: #89ad1b;
    cursor:pointer;
    font-weight: bolder;
    
}


/* plant lover section  */


.lover {
    position: relative; 
    height: 600px;
    gap: 70px;
    margin: 100px auto 0px auto;
    align-items: center;
}

.lover-title{
    font-size: 3.05rem;
    font-weight: bold;
}

.lover-li{
    list-style: square;
    color: #4e4d5c;
}

.badge {
    position: absolute;
    top: -110px; 
    left: 400px; 
    width: 260px;
    height: 260px;
    z-index: 2; /* top e boshbe  */
}

.side-img {
    width: 540px;
    height: 600px;
    border-radius: 8px;
    position: relative;
    z-index: 1; /* eta under image */
}




